---
layout: archive
permalink: /tags/
title: "by Tags"
author_profile: true
---

{% include base_path %}

{%- assign combined = site.research | concat: site.news | concat: site.links | concat: site.team -%}

{% include group-by-array collection=combined field="tags" %}

{% for tag in group_names %}
  {% assign posts = group_items[forloop.index0] %}

  <details>
    <summary>{{ tag }}</summary>
    <ul>

  {% for post in posts %}
    <li>{% include archive-single.html %}</li>
  {% endfor %}
      </ul>
  </details>
{% endfor %}